
/**
    CONTENT:
        - CORE DOCUMENT ELEMENTS
        - HEADER
        - MAIN LAYOUT
        - LISTS NAV
        - MISC STYLING
*/

/** CORE DOCUMENT ELEMENTS*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0 20px 20px;
    background: linear-gradient(180deg, rgb(255 255 255) 0%, rgb(210 210 210) 20%);
}

/** HEADER */

header {
    padding: 40px;
    display: flex;
}

.header-content{
    text-align: center;
}

.h-header{
    font-size: 45px;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.h-header > span {
    color: #da189e;
}

.h-subheader{
    font-size: 20px;
}

/** MAIN LAYOUT */

main {
    display: grid;
    grid-template-columns: minmax(280px, 0.2fr) 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin-top: 15px;
}

h2{
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(87, 87, 87)
}

a{
    color: #da189e;
}

.container{
    background-color: white;
    box-shadow: 10px 10px 5px -5px rgb(0 0 0 / 30%);
    border-radius: 10px;
    border: solid white 8px;
    margin-top: 15px;
    padding: 0 15px 0 15px;
}

.container-header{
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
    border-top: 0px;
    padding: 15px 15px 70px 70px;
}

.p-left{
    padding-left: 100px;
}

/** LISTS NAV */

ul{
    list-style: none;
    padding: 0;
}

li{
    padding-top: 14px;
    padding-bottom: 16px;
    border-bottom: 2px dotted gray;
}

li > a{
    color: #da189e;
    margin-left: 5px;
    text-decoration: none;
}

li > a::before{
    content: "►";
    font-size: 8px;
    position: relative;
    top: -2px;
    left: -5px;
}

/** MISC STYLING */

.underline{
    border-bottom: 1px dotted;
}

.grey{
    color: rgb(87, 87, 87);
}